/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900&subset=latin-ext");
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background-color: #2e3141;
  color: #fff;
}

::selection {
  background-color: #2e3141;
  color: #fff;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  color: #777;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary--main {
  font-size: 6rem;
  font-weight: 200;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  /*
      animation-delay: 3s;
      animation-iteration-count: 3;
      */
}

@media only screen and (max-width: 37.5em) {
  .heading-primary--main {
    font-family: 5rem;
  }
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  -webkit-animation: moveInRight 1s ease-out;
          animation: moveInRight 1s ease-out;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(#3a6073), to(#16222a));
  background-image: linear-gradient(to right, #3a6073, #16222a);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media only screen and (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}

.heading-secondary:hover {
  -webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);
          transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 2.8rem;
  font-weight: 700;
  margin: 0.5em 0;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.strong {
  font-weight: 900;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 0.4rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: 1px solid white;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active, .btn:focus {
  outline: none;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #fff;
  color: #777;
}

.btn--white::after {
  background-color: #fff;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn--animated {
  -webkit-animation: moveInBottom 0.5s ease-out 0.75s;
          animation: moveInBottom 0.5s ease-out 0.75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn--anim1 {
  background: transparent;
  color: white;
  border: 1px solid white;
  overflow: hidden;
  -webkit-transition: border-color 0.3s, color 0.3s;
  -webkit-transition: all 0.3s, color 0.3s;
  transition: all 0.3s, color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.btn--anim1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background: #37474f;
  z-index: -1;
  -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
  -webkit-transition: opacity 0.3s, background-color 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, background-color 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s, -webkit-transform 0.3s;
}

.btn--anim1:hover {
  color: rgba(255, 255, 255, 0.9);
  border-color: #2e3141;
}

.btn--anim1:hover::before {
  opacity: 1;
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg);
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.btn--anim1.btn--inverted:hover {
  color: #2e3141;
  border-color: rgba(255, 255, 255, 0.9);
}

.btn--anim1.btn--inverted:hover::before {
  background-color: white;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #2e3141;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #2e3141;
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-text:hover {
  background-color: #2e3141;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn-text:active {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header {
  height: 85vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 49, 65, 0.8)), to(#16222a)), url(../images/hero-small2.jpg);
  background-image: linear-gradient(rgba(46, 49, 65, 0.8), #16222a), url(../images/hero-small2.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
}

.header__wrapper {
  margin: 0 auto;
  max-width: 140rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 4rem;
  position: relative;
}

@supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) or (-webkit-clip-path: polygon(0 0)) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5em));
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5em));
    height: 95vh;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (min-width: 125em) {
  .header {
    background-image: -webkit-gradient(linear, top bottom, from(rgba(58, 96, 115, 0.9)), to(rgba(22, 34, 42, 0.9))), url(../img/hero-small2.jpg);
    background-image: linear-gradient(to top bottom, rgba(58, 96, 115, 0.9), rgba(22, 34, 42, 0.9)), url(../img/hero-small2.jpg);
  }
}

@media only screen and (max-width: 37.5em) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 10em));
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 10em));
  }
}

.header__socials ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 0;
}

.header__socials ul li i {
  color: white;
  font-size: 6rem;
  padding: 0.7rem;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.header__socials ul li i:hover {
  color: rgba(255, 255, 255, 0.8);
  -webkit-transform: translateY(-3px) scale(1.1);
          transform: translateY(-3px) scale(1.1);
}

.header__socials ul li i:active {
  color: white;
  -webkit-transform: translateY(-1px) scale(1);
          transform: translateY(-1px) scale(1);
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  height: 4.5rem;
}

.header__text-box {
  z-index: 2000;
}

.header__btn {
  margin: 1rem;
}

#particles-js {
  position: absolute;
  width: 70%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 1000;
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

@media only screen and (max-width: 56.25em) {
  .navigation__button {
    top: 4rem;
    right: 4rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .navigation__button {
    top: 3rem;
    right: 3rem;
  }
}

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#2e3141, #16222a);
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

@media only screen and (max-width: 56.25em) {
  .navigation__background {
    top: 4.5rem;
    right: 4.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .navigation__background {
    top: 3.5rem;
    right: 3.5rem;
  }
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation__item {
  margin: 1rem;
}

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%, #fff 100%);
  background-size: 230%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.navigation__link:link span, .navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #2e3141;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(80);
          transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}

.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}

.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navigation__icon::before {
  top: -0.8rem;
}

.navigation__icon::after {
  top: 0.8rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.navigation__checkbox:checked + .navigation__nav {
  display: block;
}

.about {
  background: #eee;
  color: #16222a;
}

.about__container {
  width: 100%;
  max-width: 140rem;
  padding: 20rem 4rem 25rem 4rem;
  margin: -15em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 37.5em) {
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20rem 1rem 25rem 1rem;
  }
}

.about__content {
  margin-left: 3em;
}

.about__content h2 {
  font-size: 4.5em;
  line-height: 1.8em;
}

.about__content p {
  font-size: 1.6rem;
  line-height: 1.4em;
}

.about__img {
  height: 20rem;
  border-radius: 50%;
  -webkit-backface-visibility: cover;
          backface-visibility: cover;
}

.divider {
  background-color: #283d4b;
  margin: 0 auto;
  padding: 2rem 0;
  margin-bottom: -10em;
}

@supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) or (-webkit-clip-path: polygon(0 0)) {
  .divider {
    -webkit-clip-path: polygon(0 0, 80% 5em, 125% 100%, 0 100%);
    clip-path: polygon(0 0, 80% 5em, 125% 100%, 0 100%);
  }
}

.divider__wrapper {
  padding: 5rem 4rem;
  width: 100%;
  max-width: 140rem;
  margin: 0 auto;
}

.divider__title {
  display: block;
  font-size: 2.8rem;
  color: rgba(255, 255, 255, 0.9);
  line-height: 200%;
}

.divider__desc {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 200;
  line-height: 150%;
  display: block;
  width: 70%;
}

.projects {
  background: #16222a;
  -webkit-clip-path: polygon(0 10em, 100% 0, 100% calc(100% - 10em), 0% 100%);
  clip-path: polygon(0 10em, 100% 0, 100% calc(100% - 10em), 0% 100%);
  overflow: hidden;
}

.projects__wrapper {
  grid-column: center-start/ center-end;
  margin: 0 auto;
  max-width: 140rem;
  padding: 15em 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[3];
      grid-template-columns: repeat(3, minmax(25rem, 1fr));
  grid-gap: 7rem;
}

@media only screen and (max-width: 75em) {
  .projects__wrapper {
    -ms-grid-columns: (minmax(25rem, 1fr))[2];
        grid-template-columns: repeat(2, minmax(25rem, 1fr));
  }
}

@media only screen and (max-width: 37.5em) {
  .projects__wrapper {
    -ms-grid-columns: minmax(25rem, 1fr);
        grid-template-columns: minmax(25rem, 1fr);
  }
}

@media only screen and (min-width: 112.5em) {
  .projects__wrapper {
    font-size: 75%;
  }
}

.project {
  background-color: #2e3141;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.project > * {
  padding: 3rem;
  color: rgba(255, 255, 255, 0.9);
}

.project__img {
  width: 100%;
}

.project__name {
  width: calc(100% - 3em);
  margin: 0 3rem;
  font-size: 2rem;
  font-weight: 400;
  padding: 0.5rem 0rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project__description {
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project__btns-wrapper {
  margin-top: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project__btn {
  width: 45%;
  padding: 1.5rem 0rem !important;
}

.card-top {
  padding: 0;
}

.card-top__fig {
  position: relative;
  overflow: hidden;
}

.card-top__fig .card-top__figcap::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  content: "";
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
}

.card-top__fig ul {
  list-style: none;
  position: absolute;
  right: 1.5em;
  bottom: 1.5em;
  padding: 0 1em;
  border-right: 4px solid #fff;
  font-size: 1.6rem;
  text-align: right;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

.card-top__fig:hover ul {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.card-top__fig:hover .card-top__img {
  opacity: 0.1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.card-top__fig:hover .card-top__figcap::before {
  -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
}

.card-top__fig:hover .card-top__heading {
  color: white;
  background: transparent;
}

.card-top__img {
  position: relative;
  padding: 1em;
  display: block;
  min-height: 100%;
  max-width: 100%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale3d(1.05, 1.05, 1);
  transform: scale3d(1.05, 1.05, 1);
  padding: 2rem;
}

.card-top__figcap {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-top__figcap::before, .card-top__figcap::after {
  pointer-events: none;
}

.card-top__figcap,
.card-top__figcap > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-top__figcap > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.card-top__heading {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.2em 0.8em;
  margin: 1em;
  background: rgba(255, 255, 255, 0.9);
  color: #16222a;
  font-size: 1.6rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.tech {
  color: #16222a;
  font-size: 1.8rem;
}

.tech__wrapper {
  padding: 4rem;
  max-width: 140rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media only screen and (max-width: 56.25em) {
  .tech__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media only screen and (max-width: 37.5em) {
  .tech__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.tech__wrapper--right {
  text-align: right;
}

.tech__wrapper ul {
  list-style: none;
  line-height: 150%;
}

.tech__desc {
  font-size: 1.8rem;
}

.tech__content-wrapper {
  margin-left: 5rem;
}

@media only screen and (max-width: 37.5em) {
  .tech__content-wrapper {
    width: 100%;
    margin-left: 0;
    margin-bottom: 5rem;
  }
}

.tech__content-wrapper--reversed {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.tech__logos-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 31%;
}

@media only screen and (max-width: 56.25em) {
  .tech__logos-wrapper {
    width: 50%;
  }
}

@media only screen and (max-width: 37.5em) {
  .tech__logos-wrapper {
    width: 100%;
  }
}

.tech__logo {
  height: 10rem;
  -ms-flex-preferred-size: 6rem;
      flex-basis: 6rem;
  margin: 0 0.5rem;
  fill: currentColor;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer {
  background: #16222a;
  /* fallback for old browsers */
  background: -webkit-gradient(linear, left bottom, left top, from(#2e3141), to(#16222a));
  background: linear-gradient(to top, #2e3141, #16222a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
}

.footer__container {
  color: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  height: 80%;
  width: 100%;
  max-width: 140rem;
  line-height: 150%;
  padding: 4rem 4rem;
}

@media only screen and (max-width: 56.25em) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem 0;
  }
  .footer__container div {
    text-align: center;
    padding: 2rem 0;
  }
}

.footer__container * {
  line-height: 150%;
}

.footer__copy {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer__contact {
  text-align: left;
}

@media only screen and (max-width: 56.25em) {
  .footer__contact {
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.footer ul {
  list-style: none;
}

.footer a {
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}

.footer a:hover {
  color: white;
}

.footer i {
  display: inline-block;
  padding: 0.5rem;
}
/*# sourceMappingURL=style.css.map */