.header {
  height: 85vh;
  min-height: 740px;
  background-image: linear-gradient(
      rgba($color-primary, 0.8),
      rgba($color-primary-dark, 1)
    ),
    url(../images/hero-desktop.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  &__wrapper {
    margin: 0 auto;
    max-width: 140rem;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 $padding-md;
    position: relative;
  }

  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5em));
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5em));
    height: 95vh;
  }

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
    background-image: linear-gradient(
        to top bottom,
        rgba($color-primary-light, 0.9),
        rgba($color-primary-dark, 0.9)
      ),
      url(../img/hero-tab.jpg);
  }

  @include respond(phone) {
    background-image: linear-gradient(
        rgba($color-primary, 0.8),
        rgba($color-primary-dark, 1)
      ),
      url(../images/hero-phone.jpg);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 10em));
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 10em));
  }

  @include respond(tab-land) {
    background-image: linear-gradient(
        rgba($color-primary, 0.8),
        rgba($color-primary-dark, 1)
      ),
      url(../images/hero-tab.jpg);
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  &__socials {
    ul {
      list-style: none;
      display: flex;
      // justify-content: center;
      padding: 2rem 0;
      li {
        // background: red;
        i {
          color: rgba($color-white, 1);
          font-size: 6rem;
          padding: 0.7rem;
          transition: all 0.3s ease-out;
          &:hover {
            color: rgba($color-white, 0.8);
            transform: translateY(-3px) scale(1.1);
          }
          &:active {
            color: rgba($color-white, 1);
            transform: translateY(-1px) scale(1);
          }
        }
      }
    }
  }
  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 7rem;
    @include respond(tab-port) {
      height: 6rem;
    }

    @include respond(phone) {
      height: 5rem;
    }
    @include respond(phoneSM) {
      height: 5rem;
      // display: none;
    }
  }

  &__text-box {
    z-index: 2000;
  }

  &__btn {
    margin: 1rem;
    color: rgba($color-primary-dark, 1);
    font-weight: 600;
    margin-left: 0;
  }
}

.typed {
  display: block;
  height: 2rem;
  font-size: 1.6rem;
}

#particles-js {
  position: absolute;
  width: 70%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 1000;
}
